VENDING_SMTP_HOST=smtp.gmail.com
VENDING_SMTP_PORT=587
VENDING_SMTP_USERNAME=zamoranodiza@gmail.com
VENDING_SMTP_PASSWORD=TU_APP_PASSWORD
VENDING_SMTP_FROM=zamoranodiza@gmail.com
VENDING_SMTP_USE_TLS=1
